/* Paleta de Cores */
:root {
    --marromEscuro: #261c1a;
    --marromClaro: #ac8f83;
    --marromMaisClaro: #ada0a2;
    --marromSuperClaro: #d5ccc7;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
}

header {
    width: 100%;
    color: var(--marromEscuro);
    padding: 20px;
}

header .logo-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

header h1 {
    margin: 0;
    color: var(--marromClaro);
}

hr {
    max-width: 100%;
    margin-top: 10px;
}

main h1 {
    text-align: center;
    color: var(--marromClaro);
    margin-bottom: 15px;
}

.container_icones_laterais {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    background-color: #fff;
}

.icons_laterais {
    background-color: var(--marromMaisClaro);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5.5px 10px;
    cursor: pointer;
    margin: 0 5px;
}

/* Menu lateral */
nav#sideMenu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    background-color: var(--marromSuperClaro);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    padding: 20px;
}

nav#sideMenu ul {
    list-style: none;
    padding: 0;
}

nav#sideMenu ul li {
    margin: 15px 0;
}

nav#sideMenu ul li a {
    color: var(--marromEscuro);
    text-decoration: none;
    font-size: 18px;
}

nav#sideMenu.hidden {
    transform: translateX(100%);
}

nav#sideMenu.visible {
    transform: translateX(0);
}

#closeMenu {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

#closeMenu i {
    color: var(--marromEscuro);
}

.container_perfil_user {
    background-color: #D9CFC9;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    width: 100%;
    max-width: 800px; /* Reduzi a largura máxima para telas maiores */
    margin-bottom: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.container_foto_perfil {
    text-align: center;
    margin-bottom: 20px;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profile-info p {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px; /* Adicionei uma largura máxima */
}

.profile-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.btnOK,
.btnEditar {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

.btnOK {
    background-color: #A47C6A;
    color: #fff;
}

.btnEditar {
    background-color: #fff;
    border: 2px solid #A47C6A;
    color: #A47C6A;
}

.btnEditar:hover,
.btnOK:hover {
    background-color: #92634E;
    color: white;
    border-color: #92634E;
}

/* Footer */
footer {
    background-color: var(--marromClaro);
    width: 100%;
    padding: 20px;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
}

.wrapper {
    padding-bottom: 80px; /* Espaço reservado para o footer */
}

.content {
    padding-bottom: 80px; /* Espaço para o footer */
}

.copy {
    margin-bottom: 10px;
}

.contato {
    margin-bottom: 10px;
}
