<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="../img/favicon-bookswap.ico" type="image/x-icon">
    <link rel="stylesheet" href="cFunciona.css">
    <title>BookSwap</title>
</head>

<body>
    <header>
        <div class="container_icones_laterais">
            <button id="voltar" class="icons_laterais"><i class="material-icons" onclick="voltarTelaInicial()">arrow_back</i></button>
        </div>
        <div class="logo-text">
            <img src="../img/logo-bookswap.png" alt="Logo do site" class="logo">
            <h1>BookSwap</h1>
        </div>
    </header>
    <div class="imagem">
        <img src="../img/banner-bookswap.jpg" alt="banner-bookswap">
    </div>
    <main>
        <h2 class="comoFunciona">Como Funciona o BookSwap?</h2>
        <p>
            Bem-vindo ao BookSwap, plataforma de troca de livros da ETEC Sylvio de Mattos Carvalho, em Matão, SP! Nosso
            site oferece uma maneira simples e gratuita para os membros da nossa comunidade escolar compartilharem
            livros uns com os outros, promovendo a leitura, a sustentabilidade e a interação dentro do ambiente
            educacional.
        </p>

        <h2>Descubra como você pode participar:</h2>

        <p><strong>1. Cadastro: </strong>Primeiro, crie sua conta. É fácil e rápido!</p>

        <p><strong>2.Explorar Livros Disponíveis: </strong>Navegue pelo nosso catálogo de livros disponíveis. Encontre
            títulos que você gostaria de ler e veja quais estão disponíveis para troca</p>

        <p><strong>3.Cadastrar um livro para troca: </strong>Você também pode contribuir com a comunidade cadastrando
            livros que você gostaria de trocar. Basta preencher as informações do livro, como título, autor, gênero, e
            uma breve descrição sobre o estado do livro.</p>

        <p><strong>4.Iniciar uma Troca: </strong>Quando encontrar um livro de interesse, inicie o processo de troca.
            Envie uma mensagem para o proprietário do livro e acorde os detalhes da troca.</p>

        <p><strong>5.Agendar uma visita a biblioteca: </strong>Finalize a troca pessoalmente na nossa biblioteca. Agende
            sua visita e aproveite este espaço dedicado ao aprendizado e à interação comunitária.</p>
    </main>

    <footer>
        <p class="copy">&copy; 2024 GrupoTCC3h3 - Todos os direitos reservados.</p>
        <div class="contato">
            <p>Contato: <a href="#">bookswap@gmail.com</a></p>
        </div>
    </footer>

    <script>
        function TelaLogin() {
            window.location.href = "login/login.html"
        }

        function TelaCadastrar() {
            window.location.href = "cadastro/cadastro.html"
        }

        function voltarTelaInicial() {
            window.location.href = "../apos_login/apos_login.html"
        }
    </script>
</body>

</html>