<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="../../img/favicon-bookswap.ico" type="image/x-icon">
    <link rel="stylesheet" href="../estilos/editarPerfil.css">
    <title>BookSwap</title>
</head>
<body>
    <header>
        <div class="logo-text">
            <img src="../../img/logo-bookswap.png" alt="Logo do site" class="logo">
            <h1>BookSwap</h1>
        </div>
        <hr>
    </header>

    <div class="container_icones_laterais">
        <button id="voltar" class="icons_laterais"><i class="material-icons" onclick="voltarPaginaAnterior()">arrow_back</i></button>
        <button id="menu" class="icons_laterais"><i class="material-icons">menu</i></button>
    </div>

    <!-- Menu lateral direito -->
    <nav id="sideMenu" class="hidden">
        <button id="closeMenu"><i class="material-icons">close</i></button>
        <ul>
            <li><a href="../perfilUser.html">Perfil <span id="userName"></span></a></li>
            <li><a href="../comoFunciona_logado/como_funciona.html">Como Funciona</a></li>
            <li><a href="#">Livros Disponíveis</a></li>
            <li><a href="../../cadastrar_livros/cadastrar_livros.html">Cadastrar Livros</a></li>
            <li><a href="#">Livros Cadastrados</a></li>
            <li><a href="#">Minhas Trocas</a></li>
            <li><a href="#">Mensagens</a></li>
        </ul>
    </nav>

    <main>
        <h1>Editar Perfil</h1>
        <div class="container_perfil_user">
            <form id="editProfileForm">
                <div class="profile-info">
                    <label for="nomeUsuario">Nome do usuário:</label>
                    <input type="text" id="nomeUsuario" disabled>
            
                    <label for="email">Email:</label>
                    <input type="email" id="email" disabled>
            
                    <label for="dataNascimento">Data de nascimento:</label>
                    <input type="date" id="dataNascimento">
            
                    <label for="endereco">Endereço:</label>
                    <input type="text" id="endereco">
            
                    <label for="bairro">Bairro:</label>
                    <input type="text" id="bairro">
            
                    <label for="cidade">Cidade:</label>
                    <input type="text" id="cidade">
                </div>
                <div class="profile-buttons">
                    <button type="submit" class="save-button">Salvar</button>
                    <button type="button" class="cancel-button" onclick="voltarPaginaAnterior()">Cancelar</button>
                </div>
            </form>
        </div>
    </main>

    <footer>
        <p class="copy">&copy; 2024 GrupoTCC3h3 - Todos os direitos reservados.</p>
        <div class="contato">
            <p>Contato: <a href="#">bookswap@gmail.com</a></p>
        </div>
    </footer>

    <script src="editarPerfil.js"></script>
</body>
</html>
