<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="../img/favicon-bookswap.ico" type="image/x-icon">
    <link rel="stylesheet" href="editarLivro.css">
    <title>BookSwap</title>
</head>

<body>
    <header>
        <div class="logo-text">
            <img src="../img/logo-bookswap.png" alt="Logo do site" class="logo">
            <h1>BookSwap</h1>
        </div>
        <hr>
    </header>

    <main>
        <h1>Editar Livro - <span id="livroNome"></span></h1>
        <div class="container_editar_livros">
            <form id="formEditarLivro">
                <label for="nomeLivro">Nome do Livro:</label>
                <input type="text" id="nomeLivro" name="nomeLivro">

                <label for="autor">Autor:</label>
                <input type="text" id="autor" name="autor">

                <label for="genero">Gênero:</label>
                <input type="text" id="genero" name="genero">

                <label for="ano">Ano:</label>
                <input type="text" id="ano" name="ano" maxlength="4" pattern="\d{4}"
                    title="O campo Ano deve conter exatamente 4 dígitos numéricos.">

                <button type="submit" id="salvarAlteracoes">Salvar Alterações</button>
            </form>
            <button onclick="voltar()">Voltar</button>
        </div>
    </main>

    <script src="editar_livro.js"></script>
</body>

</html>
