/* Paleta de Cores */
:root {
    --marromEscuro: #261c1a;
    --marromClaro: #ac8f83;
    --marromMaisClaro: #ada0a2;
    --marromSuperClaro: #d5ccc7;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

header {
    width: 100%;
    color: var(--marromEscuro);
    padding: 20px;
}

header .logo-text {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--marromClaro);
}

header .logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

header h1 {
    margin: 0;
    color: var(--marromClaro);
}

hr {
    max-width: 100%;
    margin-top: 10px;
}
main h1 {
    text-align: center;
    color: var(--marromClaro);
    margin-bottom: 15px;
}

.container_editar_livros {
    background-color: #D9CFC9;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    width: 100%;
    max-width: 600px;
    margin-bottom: 15px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: 1px solid transparent;
    background-color: #fff;
    font-size: 16px;
}

button {
    background-color: #ac8f83;
    color: white;
    font-weight: bolder;
    border-radius: 5px;
    padding: 15px;
    margin-top: 20px;
    border: none;
    font-size: 16px;
    width: 100%;
    max-width: 250px;
    margin: 10px auto;
}

button:hover {
    color: #261c1a;
}

/* Responsividade */
@media (max-width: 1024px) {
    .container_editar_livros {
        width: 90%;
    }

    button {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .container_editar_livros {
        width: 90%;
    }

    button {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .container_editar_livros {
        width: 95%;
        padding: 15px;
    }

    button {
        width: 100%;
    }
}
