<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="../img/favicon-bookswap.ico" type="image/x-icon">
    <link rel="stylesheet" href="estilos/cadastrar_livros.css">
    <title>BookSwap</title>
</head>

<body>
    <header>
        <div class="logo-text">
            <img src="../img/logo-bookswap.png" alt="Logo do site" class="logo">
            <h1>BookSwap</h1>
        </div>
        <hr>
    </header>
    <div class="container_icones_laterais">
        <button id="voltar" class="icons_laterais"><i class="material-icons" onclick="voltarTelaInicial()">arrow_back</i></button>
        <button id="menu" class="icons_laterais"><i class="material-icons">menu</i></button>
    </div>

    <!-- Menu lateral direito -->
    <nav id="sideMenu" class="hidden">
        <button id="closeMenu"><i class="material-icons">close</i></button>
        <ul>
            <li><a href="../perfil_usuario/perfilUser.html">Perfil<span id="userName"></span></a></li>
            <li><a href="../comoFunciona_logado/como_funciona.html">Como Funciona</a></li>
            <li><a href="#">Livros Disponíveis</a></li>
            <li><a href="#">Livros Cadastrados</a></li>
            <li><a href="#">Minhas Trocas</a></li>
            <li><a href="#">Mensagens</a></li>
        </ul>
    </nav>

    <main>
        <h1>Cadastrar Livros</h1>
        <div class="container_cadastrar_livros">
            <div class="imagem_capa">
                <img src="" alt="">
                <label class="btnEscolherFoto">
                    <input type="file" />
                    Escolher a foto da capa
                </label>
            </div>
            <form id="form_cadastrar_livros" action="/cadastrar-livro" method="POST" autocomplete="on">
                <label for="nome_livro">Nome do livro:</label>
                <input 
                    type="text" 
                    id="nome_livro" 
                    name="nome_livro" 
                    required 
                    maxlength="100" 
                    minlength="2" 
                    pattern="[A-Za-z0-9\s]+"
                    title="O nome do livro deve conter apenas letras, números e espaços"
                >
                <label for="genero_livro">Gênero do livro:</label>
                <input 
                    type="text"
                    id="genero_livro"
                    name="genero_livro"
                    required
                    maxlength="100" 
                    minlength="2" 
                    pattern="[A-Za-z0-9\s]+"
                    title="O gênero do livro deve conter apenas letras, números e espaços"
                >
                <label for="cond_livro">Condições do livro:</label>
                <input 
                    type="text"
                    id="cond_livro"
                    name="cond_livro"
                    required
                    maxlength="100" 
                    minlength="2" 
                    pattern="[A-Za-z0-9\s]+"
                    title="A condição do livro deve conter apenas letras, números e espaços"
                >
                <label for="nome_autor">Autor do livro:</label>
                <input 
                    type="text"
                    id="nome_autor"
                    name="nome_autor"
                    required
                    maxlength="100" 
                    minlength="2" 
                    pattern="[A-Za-z0-9\s]+"
                    title="O nome do autor deve conter apenas letras, números e espaços"
                >
                <div class="container_ano_livro">
                    <label for="ano_livro" id="lblAnoLivro">Ano do livro:</label>
                    <input type="number" id="ano_livro" name="ano_livro" required min="1900" max="2099" step="1" title="Insira um ano válido entre 1900 e 2099.">
                </div>
                
                <button type="submit">Cadastrar Livro</button>
            </form>
        </div>
    </main>

    <footer>
        <p class="copy">&copy; 2024 GrupoTCC3h3 - Todos os direitos reservados.</p>
        <div class="contato">
            <p>Contato: <a href="#">bookswap@gmail.com</a></p>
        </div>
    </footer>
    

    <script src="cadastrar_livros.js"></script>
</body>

</html>