<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="../img/favicon-bookswap.ico" type="image/x-icon">
    <link rel="stylesheet" href="estilos/cadastrar_livros.css">
    <title>BookSwap</title>
</head>

<body>
    <header>
        <div class="logo-text">
            <img src="../img/logo-bookswap.png" alt="Logo do site" class="logo">
            <h1>BookSwap</h1>
        </div>
        <hr>
    </header>
    <div class="container_icones_laterais">
        <button id="voltar" class="icons_laterais"><i class="material-icons"
                onclick="voltarTelaInicial()">arrow_back</i></button>
        <button id="menu" class="icons_laterais"><i class="material-icons">menu</i></button>
    </div>

    <!-- Menu lateral direito -->
    <nav id="sideMenu" class="hidden">
        <button id="closeMenu"><i class="material-icons">close</i></button>
        <ul>
            <li><a href="../perfil_usuario/perfilUser.html">Perfil<span id="userName"></span></a></li>
            <li><a href="../comoFunciona_logado/como_funciona.html">Como Funciona</a></li>
            <li><a href="../livros_disponiveis/livros_disponiveis.html">Livros Disponíveis</a></li>
            <li><a href="../livros_cadastrados/livros_cadastrado.html">Livros Cadastrados</a></li>
            <li><a href="#">Minhas Trocas</a></li>
            <li><a href="#">Mensagens</a></li>
        </ul>
    </nav>

    <main>
        <h1>Cadastrar Livros</h1>
        <div class="container_cadastrar_livros">
            <div class="imagem_capa">
                <img src="" alt="">
                <label class="btnEscolherFoto">
                    <input type="file" />
                    Escolher a foto da capa
                </label>
            </div>
            <form id="form_cadastrar_livros" action="javascript:void(0);">
                <label for="nome_livro">Nome do Livro:</label>
                <input type="text" id="nome_livro" required>

                <label for="genero_livro">Gênero:</label>
                <input type="text" id="genero_livro" required>

                <label for="cond_livro">Condição:</label>
                <select id="cond_livro" required>
                    <option value="otimo">Ótimo</option>
                    <option value="bom">Bom</option>
                    <option value="regular">Regular</option>
                    <option value="ruim">Ruim</option>
                </select>

                <label for="nome_autor">Autor:</label>
                <input type="text" id="nome_autor" required>

                <label for="ano_livro">Ano de Lançamento:</label>
                <input type="number" id="ano_livro" required>

                <button type="submit">Cadastrar Livro</button>
            </form>
        </div>
    </main>

    <footer>
        <p class="copy">&copy; 2024 GrupoTCC3h3 - Todos os direitos reservados.</p>
        <div class="contato">
            <p>Contato: <a href="#">bookswap@gmail.com</a></p>
        </div>
    </footer>


    <script src="cadastrar_livros.js"></script>
</body>

</html>