@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Paleta de Cores */
:root {
    --marromEscuro: #261c1a;
    --marromClaro: #ac8f83;
    --marromMaisClaro: #ada0a2;
    --marromSuperClaro: #d5ccc7;
}

body, html {
    position: relative;
    min-height: 100vh;
}

header {
    width: 100%;
    color: var(--marromEscuro);
    height: 100px;
    display: flex; /* Alterado para flex para alinhar os elementos em linha */
    align-items: center; /* Centraliza verticalmente os itens */
    justify-content: space-between; /* Mantém o botão à esquerda e o logo com o texto no centro */
    padding: 20px;
    background-color: #fff; /* Adicionado fundo branco para todo o cabeçalho */
}

header .logo-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

header h1 {
    margin: 0;
    color: var(--marromClaro);
}

.container_icones_laterais {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    position: relative; 
    z-index: 10; /* Certifica-se que está acima do conteúdo principal */
}

.icons_laterais {
    background-color: #ada0a2;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5.5px 10px;
    cursor: pointer;
    margin-right: 10px; /* Ajusta o espaço entre o botão e o conteúdo */
    z-index: 10; /* Garante que não fique atrás da imagem */
}

.imagem img {
    width: 100%; /* Garante que a imagem não ultrapasse a largura do contêiner pai */
    height: 50vh;
    object-fit: cover;
    margin-top: 20px; /* Aumenta a distância entre o botão e a imagem */
    z-index: 1; /* Certifica que a imagem está atrás do botão */
}


main {
    margin: auto;
    max-width: 80%;
}

main > h2 {
    color: var(--marromClaro);
    text-align: center;
    padding: 20px;
}

h2.comoFunciona {
    margin-top: 30px;
}

main p {
    font-size: 18px;
    padding: 25px;
    text-align: justify;
    line-height: 40px;
}

footer {
    background-color: var(--marromClaro);
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

footer > p {
    margin-bottom: 15px;
}

footer a {
    text-decoration: none;
}