<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciando Contato</title>
    <link rel="stylesheet" href="iniciando_contato.css">
</head>
<body>

    <div class="container">
        <!-- Container de informações do livro -->
        <div class="livro-info">
            <img id="livroCapa" src="" alt="Capa do Livro" class="livro-capa">
            <h3 id="livroTitulo"></h3>
            <p id="livroGenero"></p>
            <p id="livroEstado"></p>
            <p id="livroDono"></p>
        </div>

        <!-- Botão para iniciar a conversa -->
        <button id="iniciarConversa" class="btn">Iniciar Conversa</button>
    </div>

    <script src="iniciando contato.js"></script>
</body>
</html>
