<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="shortcut icon" href="../img/favicon-bookswap.ico" type="image/x-icon">
        <link rel="stylesheet" href="iniciando_contato.css">
        <title>BookSwap</title>
    </head>
    
    <body>
        <header>
            <div class="container_icones_laterais">
                <button id="voltar" class="icons_laterais"><i class="material-icons" onclick="voltarPaginaAnterior()">arrow_back</i></button>
            </div>
            <div class="logo-text">
                <img src="../img/logo-bookswap.png" alt="Logo do site" class="logo">
                <h1>BookSwap</h1>
            </div>
            <hr>
        </header>

    <div class="container">
        <!-- Container de informações do livro -->
        <div class="livro-info">
            <img id="livroCapa" src="" alt="Capa do Livro" class="livro-capa">
            <h3 id="livroTitulo"></h3>
            <p id="livroGenero"></p>
            <p id="livroEstado"></p>
            <p id="livroDono"></p>
        </div>

        <!-- Botão para iniciar a conversa -->
        <button id="iniciarConversa" class="btn">Iniciar Conversa</button>
    </div>

    <script src="iniciando contato.js"></script>
</body>
</html>
