<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="../img/favicon-bookswap.ico" type="image/x-icon">
    <link rel="stylesheet" href="estilos/perfilUser.css">
    <title>BookSwap</title>
</head>

<body>
    <header>
        <div class="logo-text">
            <img src="../img/logo-bookswap.png" alt="Logo do site" class="logo">
            <h1>BookSwap</h1>
        </div>
        <hr>
    </header>

    <div class="container_icones_laterais">
        <button id="voltar" class="icons_laterais" onclick="voltarPaginaAnterior()"><i class="material-icons">arrow_back</i></button>
        <button id="menu" class="icons_laterais"><i class="material-icons">menu</i></button>
    </div>

    <nav id="sideMenu" class="hidden">
        <button id="closeMenu"><i class="material-icons">close</i></button>
        <ul>
            <li><a href="#">Perfil (<span id="userName">Usuário</span>)</a></li>
            <li><a href="#">Livros Disponíveis</a></li>
            <li><a href="../cadastrar_livros/cadastrar_livros.html">Cadastrar Livros</a></li>
            <li><a href="#">Livros Cadastrados</a></li>
            <li><a href="#">Minhas Trocas</a></li>
            <li><a href="#">Mensagens</a></li>
            <li><a href="#" id="logout">Sair</a></li>
        </ul>
    </nav>

    <main>
        <h1>Perfil</h1>
        <div class="container_perfil_user">
            <div class="fotoPerfilUser">
                <img src="" alt="" class="imgFoto">
            </div>
            <div class="profile-info">
                <p>Nome: <span id="nomeUsuario"></span></p>
                <p>Email: <span id="email"></span></p>
                <p>Data de Nascimento: <span id="dataNascimento"></span></p>
                <p>Endereço: <span id="endereco"></span></p>
                <p>Bairro: <span id="bairro"></span></p>
                <p>Cidade: <span id="cidade"></span></p>
            </div>
            <div class="profile-buttons">
                <button class="btnOK">OK</button>
                <button class="btnEditar" onclick="editarPerfil()">Editar Perfil</button>
            </div>
        </div>
    </main>

    <footer>
        <p class="copy">&copy; 2024 GrupoTCC3h3 - Todos os direitos reservados.</p>
        <div class="contato">
            <p>Contato: <a href="mailto:bookswap@gmail.com">contato@bookswap.com.br</a></p>
        </div>
    </footer>

    <script src="perfilUser.js"></script>
</body>

</html>
