<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../img/favicon-bookswap.ico" type="image/x-icon">
    <link rel="stylesheet" href="livros_disponiveis.css">
    <title>BookSwap</title>
</head>

<body>
    <header>
        <div class="container_icones_laterais">
            <button id="voltar" class="icons_laterais"><i class="material-icons" onclick="voltarPaginaAnterior()">arrow_back</i></button>
        </div>
        <div class="logo-text">
            <img class="logo" src="../img/logo-bookswap.png" alt="Logo">
            <h2>BookSwap</h2>
        </div>
    </header>
    <hr>

    <main>
        <h1>Livros Disponíveis</h1>
        <div id="listaLivros"></div>
    </main>

    <footer>
        <p class="copy">&copy; 2024 GrupoTCC3h3 - Todos os direitos reservados.</p>
        <div class="contato">
            <p>Contato: <a href="#">bookswap@gmail.com</a></p>
        </div>
    </footer>

    <script src="livros_disponiveis.js"></script>
</body>

</html>
