/* Paleta de Cores */
:root {
    --marromEscuro: #261c1a;
    --marromClaro: #ac8f83;
    --marromMaisClaro: #ada0a2;
    --marromSuperClaro: #d5ccc7;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
}

header {
    color: var(--marromEscuro);
    height: 100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between; /* Distribui os elementos de forma a colocar o botão à esquerda e o logo-texto no centro */
    align-items: center;
    padding: 20px;
    position: relative;
}

.container_icones_laterais {
    position: absolute;
    left: 20px; /* Mantém o botão à esquerda */
}

.logo-text {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* Centraliza a logo e o texto no meio da tela */
}

header .logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

h2 {
    margin: 0;
    color: var(--marromClaro);
}

#voltar {
    background-color: var(--marromClaro);
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

#voltar:hover{
    background-color: var(--marromMaisClaro);
}

hr {
    margin-bottom: 15px;
}

header .logo-text {
    display: flex;
    align-items: center;
}

header .logo {
    width: 50px; /* Ajuste o tamanho da logo conforme necessário */
    height: auto;
    margin-right: 10px; /* Espaço entre a logo e o texto */
}

header > div  > h2 {
    margin: 0;
    color: var(--marromClaro);
}


h1 {
    text-align: center;
    color: var(--marromClaro);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--marromClaro);
    color: white;
    font-weight: bold;
    padding: 30px;
    text-align: center;
    margin-top: 20px;
}

.copy {
    margin-bottom: 10px;
}