<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/favicon-bookswap.ico" type="image/x-icon">
    <link rel="stylesheet" href="explorarS.css">
    <title>BookSwap</title>
</head>
<body>
    <header>
        <div class="logo-text">
            <img src="../img/logo-bookswap.png" alt="Logo do site" class="logo">
            <h2>BookSwap</h2>
        </div>
        <a href="../login/login.html" id="login">Entrar</a>
        <a href="../cadastro/cadastro.html" id="cadastrar">Cadastar</a>
    </header> 
    <main>
        <h1>Livros disponiveis para troca na Etec</h1>
        <div class="container">
            
        </div>
    </main>

    <footer>
        <p class="copy">&copy; 2024 GrupoTCC3h3 - Todos os direitos reservados.</p>
        <div class="contato">
            <p>Contato: <a href="#">bookswap@gmail.com</a></p>
        </div>
    </footer>
    

    <script>
         function TelaLogin(){
             window.location.href = "login/login.html"
        }

        function TelaCadastrar(){
             window.location.href = "cadastro/cadastro.html"
        }
    </script>
</body>
</html>