/* Paleta de Cores */
:root {
    --marromEscuro: #261c1a;
    --marromClaro: #ac8f83;
    --marromMaisClaro: #ada0a2;
    --marromSuperClaro: #d5ccc7;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: #f4f4f4;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
    background-color: #f4f4f4;
}

header {
    color: var(--marromEscuro);
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.container_icones_laterais {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

#voltar {
    background-color: var(--marromClaro);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-text {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

header .logo {
    width: 35px;
    height: auto;
    margin-right: 10px;
}

h2 {
    margin: 0;
    color: var(--marromClaro);
}

hr {
    margin-bottom: 15px;
}

h1 {
    text-align: center;
    color: var(--marromClaro);
}

/* Container principal do chat */
#chatContainer {
    width: 100%;
    max-width: 70%;
    margin: 20px auto;
    background-color: var(--marromClaro);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.mensagem-header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: var(--marromEscuro);
}

.mensagem-header .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.nome-usuario {
    font-weight: bold;
    color: white;
}

.chat-messages {
    padding: 20px;
    background-color: var(--marromSuperClaro);
    color: var(--marromEscuro);
    flex-grow: 1;
    overflow-y: auto;
    height: calc(85vh - 150px);
}

.input-container {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: white;
    border-top: 1px solid var(--marromMaisClaro);
}

.mensagem-input {
    flex: 1;
    padding: 8px;
    border-radius: 20px;
    border: 1px solid var(--marromMaisClaro);
    margin-right: 5px;
    background-color: var(--marromSuperClaro);
}

/* Estilo para o balão de mensagem do remetente */
.txtMensagem.remetente {
    align-self: flex-end; /* Coloca a mensagem à direita */
    background-color: #007bff; /* Cor de fundo para o remetente */
    color: white; /* Cor do texto do remetente */
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 60%; /* Limita a largura máxima */
    word-wrap: break-word; /* Quebra de linha no texto se necessário */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Estilo para o balão de mensagem do destinatário */
.txtMensagem.destinatario {
    align-self: flex-start; /* Coloca a mensagem à esquerda */
    background-color: #f1f1f1; /* Cor de fundo para o destinatário */
    color: #333; /* Cor do texto do destinatário */
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 60%; /* Limita a largura máxima */
    word-wrap: break-word; /* Quebra de linha no texto se necessário */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
}


.enviar-btn {
    background-color: var(--marromClaro);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    padding: 8px;
}

footer {
    background-color: var(--marromClaro);
    color: white;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    margin-top: auto;
}

footer .copy {
    margin-bottom: 10px;
}

footer a {
    color: white;
    text-decoration: none;
}
