body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-image: url('../images/background-header.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
}

h1, h2 {
    font-weight: bold;
}

p {
    font-size: 1.2em;
}

footer {
    background-color: #343a40;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}
